In [ ]:
for i in range(1,6):
    for j in range(i+1,i):
       print(i,end=" ")
    print()

In [21]:
n=int(input("enter the number"))
x=int(input("enter the number"))
sum=1
for i in range(2,n+1):
   s=x**i/i
   sum+=s
print(sum)

enter the number5
enter the number2
16.066666666666666

In [26]:
x=int(input("enter the number of x"))
n=int(input("enter the number of items "))
y=(x-1)/x
sum=y
for i in range(2,n+1):
  s=0.5*(y**i)
  sum+=s
print(sum)

enter the number of x2
enter the number of items 4
0.71875

In [33]:
n = 5
x = 2
sum = 0
s = 0

for i in range(1, n+1):
    sum = sum * 10 + x
    s += sum
    print(s)

2
24
246
2468
24690

In [ ]:
string=input("enter the sting ")
result=""
for char in string:
  match=0
  for j in result:
      if char==j:
        match=1
  if match==0:
      result+=char

print(result)

enter the sting asiin
asin

In [ ]:
sentence="we can learn data science through campusx mentorship program"
word="campusx"
for i in sentence:
  if i==word:

    print("location of word is",i)
  else:
    print("word not found")

TypeError: string indices must be integers, not 'str'

In [ ]:
A = "apple banana mango"
B = "banana fruits mango"

words = A.split() + B.split()
print(words)

result = []
for word in words:
    if words.count(word) == 1:
        result.append(word)

print(result)

['apple', 'banana', 'mango', 'banana', 'fruits', 'mango']
['apple', 'fruits']

In [ ]:
s = "geeks quiz practice code"
words = s.split()
words.reverse()
reversed_s = ' '.join(words)

print(reversed_s)

code practice quiz geeks

In [ ]:
s = "khokho"

n = len(s)

# Find the middle
mid = n // 2

# Check if first half == second half
if s[:mid] == s[mid:]:
    print("The entered string is symmetrical")
else:
    print("The entered string is not symmetrical")

The entered string is symmetrical

In [ ]:
str1 = "I am 25 years and 10 months old"

result = " "
for char in str1:
    if char.isdigit():
        result += char

print(result)

 2510

In [ ]:
s = "hel12304every093"

digits = []
for ch in s:
    if ch.isdigit():
        digits.append(int(ch))

total = sum(digits)
average = total / len(digits)

print("Sum:", total)
print("Avg:", average)

Sum: 22
Avg: 2.75

In [ ]:
str1 = "PyNaTive"
lower = []
upper = []

for ch in str1:
    if ch.islower():
        lower.append(ch)

for ch in str1:
    if ch.isupper():
        upper.append(ch)

result = ''.join(lower + upper)
print(result)

yaivePNT

In [ ]:
text = "Data science mentorship program"
words = text.split()
short_form = ""

for word in words:
    if word:  # Ensure word is not empty
        short_form += word[0].upper()

print(short_form)

DSMP

In [ ]:
str1 = "campusx"
str2 = "data"

mid_index = len(str1) // 2
result = str1[:mid_index] + str2 + str1[mid_index:]

print(result)

camdatapusx

In [ ]:
for i in range (1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  print()
for k in range(1,6):
  for l in range(1,6-k):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,6,2):
  for j in range(1,6-i):
    print("-",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

----*
--* * *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(1,i):
    print(i,j,end=" ")
  print()

2 1
3 1 3 2
4 1 4 2 4 3
5 1 5 2 5 3 5 4

In [ ]:
sum=2
n=5
i=1
while i>0: